<header>
  <h1>Charleston Foodie!</h1>

</header>
<div class="search" id="search">
  <form>
    <input type="search" name="search" placeholder="Narrow it down!">
    <button>Search</button>
    <%= image_tag "miniMapLogo.png" %>
  </form>
</div>

<div id="restaurants">
  <ul id="list">

  </ul>

</div>
