/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  font-family: 'Monoton';
  font-size:50px;
  margin-bottom:0;
  text-align: center;
}

form {
  text-align:center;
}

form input {
  font-size: 30px;
}

#restaurants {
  margin: 0 auto;
  width:90%;

}

#list {
  list-style: none;
}

#list li {
  display: inline-block;
  margin:20px 5px;
}

#list .restaurant-image {
  border-radius:100%;
  border: 3px black solid;
  /*position:relative;*/
  width:200px;
}

#list a {
  color:black;
  font-family:'Overlock SC';
  font-size:15px;
  text-decoration: none;
}
#list a:hover {
  text-decoration: underline;
}

#list .restaurant-info {
  background-color:white;
  border:2px black solid;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  width:200px;
}
